{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>重大传染病疫情数据采集系统</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/admin-page.css' %}">
</head>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/admin/admin_home/"><i class="menu-icon fa fa-home"></i>管理员首页 </a>
                </li>
                <li class="menu-title">查看用户信息</li><!-- /.menu-title -->
                <li>
                    <a href="/admin/all_list/"><i class="menu-icon fa fa-user"></i>查看全部用户 </a>
                </li>
                <li>
                    <a href="/admin/patients_list/"><i class="menu-icon fa fa-user-times"></i>查看确诊和疑似用户 </a>
                </li>
                <li>
                    <a href="/admin/close_contacts_list"><i class="menu-icon fa fa-user-plus"></i>查看密切接触者
                        {% if new_contact_count %}
                            <span class="badge pull-right">{{ new_contact_count }}</span>
                        {% endif %}</a>
                </li>
                <li class="menu-title">查看其他信息</li><!-- /.menu-title -->
                <li class="active">
                    <a href="/admin/helps_and_reports_list"><i class="menu-icon fa fa-bell"></i>查看个人求助</a>
                </li>
                <li class="active">
                    <a href="/admin/helps_and_reports_list"><i class="menu-icon fa fa-envelope"></i>查看举报信息</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><h4>重大传染病疫情数据采集系统</h4></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">
                    {% if request.session.is_login %}
                        <div class="dropdown for-notification">
                            <a href="#" disabled>当前在线：{{ request.session.user_name }}</a>
                        </div>

                        &nbsp;&nbsp;
                        <div class="dropdown for-message">
                            <a href="/admin_logout/">登出</a>
                        </div>
                    {% else %}
                        <div class="dropdown for-notification">
                            <a href="/admin_login/">登录</a>
                        </div>

                        &nbsp;&nbsp;
                        <div class="dropdown for-message">
                            <a href="/admin_register/">注册</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <!-- /#header -->
    <!-- Content -->
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <div class="clearfix"></div>
            <!-- Orders -->
            <div class="orders">
                <div class="row equal-height-container">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="pull-right inline-block">
                                    {% if message %}
                                        {% ifequal message_type 1 %}
                                            <h4 class="box-title fg-color-4 inline-block">{{ message }}</h4>
                                        {% endifequal %}
                                        {% ifequal message_type 0 %}
                                            <h4 class="box-title fg-color-0 inline-block">{{ message }}</h4>
                                        {% endifequal %}
                                    {% endif %}
                                    <div class="btn-group padding-right-20">

                                        <button class="btn btn-outline-success dropdown-toggle btn-sm"
                                                data-toggle="dropdown">查看选项
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-a"
                                                   onclick="card_shift('01')">
                                                    全部显示
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-a"
                                                   onclick="card_shift('0')">
                                                    仅显示个人求助
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-a"
                                                   onclick="card_shift('1')">
                                                    仅显示举报
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  <!-- /.col-lg-12 -->

                    <div class="col-xl-12" id="help-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="box-title">查看个人求助 </h4>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead class="text-left">
                                        <tr>
                                            <th class="serial">#</th>
                                            <th>身份证号</th>
                                            <th>姓名</th>
                                            <th>性别</th>
                                            <th>联系方式</th>
                                            <th>住址</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for help in helps %}
                                            <tr>
                                                <td class="serial">{{ help.id }}</td>
                                                <td>{{ help.id_number }}</td>
                                                <td><span class="name">{{ help.name }}</span></td>
                                                <td><span class="sex">{{ help.gender }}</span></td>
                                                <td><span class="telephone">{{ help.phone_number }}</span></td>
                                                <td class="help-address"><span>{{ help.address }}</span></td>
                                                <td>
                                                    {% ifequal help.processed '1' %}
                                                        <a class="checked" disabled="true"><i
                                                                class="fa fa-minus"></i></a>
                                                    {% else %}
                                                        <a href="/admin/check_help_and_report?item_id={{ help.id }}&item_type={{ help.info_type }}"
                                                           class="unchecked"><i
                                                                class="fa fa-check"></i></a>
                                                    {% endifequal %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <ul class="pager pull-right">
                                        <li class="pager-left disabled"><a href="#"><i
                                                class="fa fa-arrow-circle-o-left"></i>&nbsp;上一页</a></li>
                                        <li class="pager-left"><a href="#">下一页&nbsp;<i
                                                class="fa fa-arrow-circle-o-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- /.card -->
                    </div>  <!-- /.col-lg-12 -->

                    <div class="col-xl-12" id="report-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="box-title">查看举报 </h4>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats1 order-table ov-h">
                                    <table class="table ">
                                        <thead class="text-left">
                                        <tr>
                                            <th class="serial verticle-center" rowspan="2">#</th>
                                            <th colspan="5" class="text-center">举报者信息</th>
                                            <th colspan="4" class="text-center left-border">被举报人信息</th>
                                            <th rowspan="2" class="text-center left-border verticle-center">操作</th>
                                        </tr>
                                        <tr>

                                            <th>身份证号</th>
                                            <th>姓名</th>
                                            <th>性别</th>
                                            <th>联系方式</th>
                                            <th>住址</th>
                                            <th class="left-border">姓名</th>
                                            <th>性别</th>
                                            <th>联系方式</th>
                                            <th>住址</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for report in reports %}
                                            <tr>
                                                <td class="serial">{{ report.id }}</td>
                                                <td>{{ report.id_number }}</td>
                                                <td><span class="name">{{ report.name }}</span></td>
                                                <td><span class="sex">{{ report.gender }}</span></td>
                                                <td><span class="telephone">{{ report.phone_number }}</span></td>
                                                <td class="report-address"><span>{{ report.address }}</span></td>
                                                <td class="left-border"><span
                                                        class="name">{{ report.acused_name }}</span></td>
                                                <td><span class="sex">{{ report.acused_gender }}</span></td>
                                                <td><span class="telephone">{{ report.acused_phone_number }}</span></td>
                                                <td class="report-address"><span>{{ report.acused_address }}</span></td>
                                                <td class="left-border text-center">
                                                    {% ifequal report.processed '1' %}
                                                        <a class="checked" disabled="true"><i
                                                                class="fa fa-minus"></i></a>
                                                    {% else %}
                                                        <a href="/admin/check_help_and_report?item_id={{ report.id }}&item_type={{ report.info_type }}"
                                                           class="unchecked" title="确认个人信息（举报）"><i
                                                                class="fa fa-check"></i></a>
                                                    {% endifequal %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <ul class="pager pull-right">
                                        <li class="pager-left disabled"><a href="#"><i
                                                class="fa fa-arrow-circle-o-left"></i>&nbsp;上一页</a></li>
                                        <li class="pager-left"><a href="#">下一页&nbsp;<i
                                                class="fa fa-arrow-circle-o-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- /.card -->
                    </div>  <!-- /.col-lg-12 -->
                </div>
            </div>
            <!-- /.orders -->
            <!-- /#add-category -->
        </div>
        <!-- .animated -->
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2020 东南大学网络空间安全学院
                </div>
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
</div>
<!-- /#right-panel -->

<!-- Scripts -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script src="{% static '/js/main.js' %}"></script>
<script src="{% static 'js/echarts.min.js' %}"></script>
<script src="{% static 'js/myECharts.js' %}"></script>

<!--Local Stuff-->
<script>

    var $ = window.jQuery;
    setTimeout(function () {
        $("#message-box").fadeOut(1000)
    }, 2000);

    function card_shift(s) {
        var help_card = document.getElementById('help-card');
        var report_card = document.getElementById('report-card');
        if (s == '01') {
            help_card.style.display = 'block';
            report_card.style.display = 'block';
        } else if (s == '0') {
            help_card.style.display = 'block';
            report_card.style.display = 'none';
        } else if (s == '1') {
            help_card.style.display = 'none';
            report_card.style.display = 'block';
        }
    }


</script>
</body>
</html>
